.new-year-wish {
    color: #FFF;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
    padding-top: 170px;
}

.new-year-party {
    color: #FFF;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    margin-top: 15px;
    margin-left: 25%;
    width: 632px;
}

.header-container {
    text-align: center;
    width: 1320px;
    height: 600px;
    margin: auto;
    background: url('../resources/Banner\ Image.png');
    background-repeat: no-repeat;
    box-shadow: 0px 150px 300px 50px #070211 inset;
    border-radius: 16px;
}

.new-year-photo {
    display: block;
    margin: auto;
    padding-top: 40px;
    margin-bottom: 120px;
}

.main-title {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    padding-top: 120px;
}

.holiday-deals {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.categories {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin-top: 15px;
    margin-bottom: 0px;
}

.Vector-container {
    background-image: url(../resources/Vectorrr.png);
    margin: auto;
    width: 1320px;
    height: 600px;
    background-repeat: no-repeat;
    display: flex;
}


.welcome-section {
    padding: 126px 0px 0px 126px;
}

.party-greeting {
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    letter-spacing: 7.04px;
    line-height: 88px;
    margin: 0px 0px 24px 0px;
    width: 642px;
}

.party-description {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    margin: 0px 0px 50px 0px;
    width: 697px;
    margin-top: 0px;
}

.twenty-four {
    justify-content: center;
    height: 500px;
    margin: 50px 0px 0px 35px;
}

.join-now {
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    margin-left: 32px;
    text-transform: uppercase;
}

.bg-color {
    width: 1320px;
    height: 482px;
    margin: auto;
    margin-top: 120px;
    margin-bottom: 120px;
    align-items: center;
}

.event {
    width: 550px;
    height: 170px;
    background-color: #fff;
    color: #F00;
    text-align: center;
    padding: 100px 385px 214px 385px;
    box-shadow: 0px 250px 80px inset #ffe7e7;
    font-family: Inter;
    font-size: 27px;
    font-weight: 600;
    line-height: 40px;
    text-transform: capitalize;
    border-radius: 20px;

}

.btn {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    padding: 16px 32px;
    border-radius: 8px;
    background: #F00;
    border: none;
    margin: 48px 0px 110px 0px;

}

.best-offer-container {
    margin: auto;
    width: 1320px;
    height: 482px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ellipse {
    margin-top: 100px;
    border-radius: 364.844px;
    padding-left: 100px;
    margin-bottom: 110px;
}

#circle {
    border-radius: 364.844px;
    border: 15px solid #F00;
    padding: 30px 30px 30px 30px;
    margin-top: 100px;
    margin-right: 70px;
}

.coming-soon h3 {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500px;
    margin-top: 100px;
    margin-bottom: 22px;
}

.coming-soon h2 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    margin-top: 0px;
    margin-bottom: 22px;
}

.coming-soon p {
    width: 393px;
    color: #070211;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
}

.happy-new-year h3 {
    width: 126px;
    height: 58px;
    margin-bottom: 100px;
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin: 250px 0px 0px 50%;
    margin-bottom: 16px;

}

.happy-new-year p {
    width: 276px;
    color: #070211;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    margin-left: 50%;
    margin-bottom: 43px;
}

.vector {
    margin-left: 50%;
}


.sale h3 {
    color: #070211;
    font-family: Inter;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    margin-top: 200px;
    margin-bottom: 16px;
}

.sale h1 {
    color: #F00;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    margin-bottom: 28px;
    margin-top: 0px;
}

#pp {
    color: #070211;
    width: 1068px;
    margin: auto;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
}

.images {
    width: 1600px;
    height: 794px;
    margin: auto;
    text-align: center;
}

.circle {
    position: relative;
    z-index: 1;
    right: 390px;
    bottom: 155px;
}

.square {
    position: relative;
    bottom: 100px;
    left: 200px;
}

.gift-box {
    position: relative;
    top: 100px;
    left: 110px;

}

.rectangle {
    position: relative;
    bottom: 103px;
    z-index: -1;
}

.portfolio {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 120px;
}

.portfolio-section h3 {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}

.portfolio-section h2 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    margin-bottom: 0px;
    margin-top: 0px;
}

.portfolio-section p {
    width: 896px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin-top: 22px;
    margin-bottom: 48px;
}

.first-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 22px;
    margin-bottom: 24px;
}

.second-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 22px;
}

/* 6th section end */
/* 7th section start */
.news-letter {
    width: 1320px;
    height: 616px;
    margin: 120px auto;
    padding-top: 80px;
    text-align: center;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);

}

.news-letter h1 {
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
}

.news-letter p {
    width: 896px;
    margin: auto;
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}

.email,.btn {
    border: none;
    outline: none;
}

.email {
    width: 648px;
    height: 72px;
    border-radius: 50px 0px 0px 50px;
    color: rgba(7, 2, 17, 0.30);
    text-align: start;
    font-size: 18px;
    font-weight: 400;
    padding-left: 30px;
}

.btn {
    width: 210px;
    height: 72px;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
}

.footer {
    width: 1600px;
    height: 609px;
    background: #070211;
    margin: auto;
}

.address {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 120px;
}

.heading-one {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
    margin-right: 275px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.heading-two {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
    margin-right: 275px;
    margin-top: 0px;
}

.address p {
    padding-left: 140px;
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#call {
    margin-left: 35%;
    position: relative;
    bottom: 100px;
}

#website {
    margin-left: 35%;
    position: relative;
    bottom: 82px;
}

.hr-1 {
    width: 80%;
    height: 1px;
    background: rgba(255, 255, 255, 0.15);
    position: relative;
    bottom: 10px;
}

.social {
    display: flex;
    gap: 25px;
    position: relative;
    bottom: -30px;
    left: 550px;
}

.hr-2 {
    width: 80%;
    height: 1px;
    background: rgba(255, 255, 255, 0.15);
    position: relative;
    left: 158px;
    bottom: -60px;
}

.social h3 {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-right: 100px;
}

.copy-right {
    display: flex;
   justify-content: center;
    gap: 47%;
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
    position: relative;
    top: 62px;
}